
{% include 'header.html' %}

<h3>上传日志</h3>

<p>
	请选择一个Ulog日志文件用于绘图和分析。
</p>



<ul class="nav nav-tabs">
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#flightreport">Flight Report</a>
	</li>
</ul>

<div class="tab-content">

		<!-- Personal Tab -->
		<table class="spaced">
			<form enctype="multipart/form-data" action="/upload" method="post">
				
				<tr>
					<td class="left">ULog日志文件:</td>
					<td>
						<input type="file" name="filearg" class="filestyle"
							data-text="选择文件"
							data-btnClass="btn-outline-primary align-right"
							>
					</td>
				</tr>
				<tr>
					<td></td><td><br/><input class="btn btn-primary align-right"
						 id="upload-button" type="submit" value="上传" /></td>
				</tr>
			</form>
		</table>

	
</div>


<p>
<b>温馨提示：</b>
日志包含位置数据。上传日志文件，即同意将此信息存储在Aibird服务器。您可以分享这个链接，其他人也可获取日志分析信息。
</p>


{% include 'footer.html' %}

</body>
</html>
