
{% include 'header.html' %}

<h3>上传Ulog日志文件</h3>

<br>
<br>


<ul class="nav nav-tabs">
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#flightreport">Flight Report</a>
	</li>
</ul>

<div class="tab-content">
	<div id="personal" class="tab-pane in active">

		<!-- Personal Tab -->
		<table class="spaced">
			<form enctype="multipart/form-data" action="/upload" method="post">
				
				
				<tr>
					<td class="left">ULog文件:</td>
					<td>
						<input type="file" name="filearg" class="filestyle"
							data-text="点击选择文件"
							data-btnClass="btn-outline-primary align-right"
							>
					</td>
				</tr>
				<tr>
					<td></td><td><br/><input class="btn btn-primary align-right"
						 id="upload-button" type="submit" value="上传" /></td>
				</tr>
			</form>
		</table>

	</div>


	<div id="flightreport" class="tab-pane fade">

	</div>
</div>
<br><br>

<p>
<b>Important</b>: The log may contain location data. By uploading a log,
you agree that this information is stored on the server. Should you choose to
share the link, it will be accessible to others as well.
</p>


{% include 'footer.html' %}

</body>
</html>
